# Arquivos e pastas gerados pelo Maven target/ pom.xml.tag pom.xml.releaseBackup pom.xml.versionsBackup pom.xml.next release.properties dependency-reduced-pom.xml buildNumber.properties .mvn/timing.properties .mvn/wrapper/maven-wrapper.jar # Arquivos gerados pelo Logback (se usar) *.log # Arquivos de IDEs comuns .idea/ .project .classpath .settings/ *.iml *.iws *.ipr # Arquivos do VS Code .vscode/ # Arquivos do Sistema Operacional .DS_Store Thumbs.db